---
import {Icon} from "astro-icon/components";

interface Props {
    name: string;
    star: 1|2|3|4|5;
};

const { name, star } = Astro.props;

---

<div class="text-black dark:text-white">
    {name} {Array(star).fill(0).map((c)=> {return <Icon name="fa6-solid:star" class="inline text-yellow-300"></Icon>})}
</div>